
body{
  height: 200px;
}
header {
  background-color: gray;
  height: 150px;
  margin:  35px;
  margin-left: 15px;
}

img {
  height: 70px;

  width: 200px;
  filter: invert(100%); 
  -webkit-filter:invert(100%); 
}
nav ul li a{
   display: block; 
  text-decoration: none;
  float: right;
  padding: 50px;
  
}

main img {
  height: 450px;
  width: 960px;
  margin-left: 30px;
}

main{
  height: 1500px;
}
div img {
  display: inline-block;
  height: 375px;
  width: 300px;
  margin-left: 30px;
  
}
p{
  padding: 20px;
  height: 400px;
  width: 480spx;
  position: relative;
}

footer{
  background-color: gray;
  height: 110px;
  margin:  35px;
  margin-bottom: 700px;
}
  